
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!--配置数据库连接参数,配置的信息可以在hibernate文件夹下
        project/hibernate.properties文件中找到每种数据库的配置
    -->
    <session-factory>

        <!--配置mysql数据库连接的参数-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--A url 是 jdbc:// mysql/localhost/数据库名  即可,换句话说，jdbc:mysql://localhost:3306是安装完成后的定式,而hibernateTest是数据库的名称-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatetest</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">american</property>

        <!--其他相关配置-->
        <!--将session绑定到当前线程上-->
        <property name="hibernate.current_session_context_class">thread</property>

        <!--连接池-->
        <property name="connection.pool_size">20</property>
        <!--Hibernate运行时显示执行的SQL-->
        <property name="show_sql">true</property>
        <!--格式化SQL-->
        <property name="format_sql">true</property>
        <!--事务的隔离级别 2 为ReadCommited-->
        <property name="connection.isolation">2</property>
        <!--自动建表-->
        <!--注意：create有bug，当数据库中无表时，会报错误，但其实不影响使用-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--自动提交，必须打开，否则不能在hibernate关闭后自动drop表-->
        <property name="connection.autocommit">true</property>
    <!--加载所有继承的类映射-->
        <mapping class="Entities.Entity.Person"/>
        <mapping class="Entities.Entity.Member"/>
        <mapping class="Entities.Entity.Minister"/>
        <mapping class="Entities.Entity.Department"/>
        <mapping class="Entities.Entity.HomeWork"/>
        <!--作为ID的多个类也要写入映射关系吗，是的，并且这个作为ID的类还不能含有注解@Id-->
        <mapping class="Entities.ID.HomeWorkID"/>
        <mapping class="Entities.Entity.UploadedFile"/>
        <mapping class="Entities.Entity.Meeting"/>
        <mapping class="Entities.ID.MeetingID"/>
        <mapping class="Entities.Entity.President"/>
        <mapping class="Entities.Entity.Register"/>
        <mapping class="Entities.Entity.Interview"/>
    </session-factory>

</hibernate-configuration>