<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!--配置spring文件路径-->
    <!--通过通配符* 将applicationContext.xml 和 applicationContext-Hibernate.xml都加入了配置中
    classpath:使得src中的文件得以被使用，否则不能使用config文件夹下的xml文件-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:com/istc/config/xmls/applicationContext*.xml</param-value>
    </context-param>

    <!--添加Spring事件监听器-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--添加Struts过滤器 首先定义一个过滤器名称和过滤器类-->
    <!--配置 struts 文件路径 struts 配置文件的文件夹通过 contextConfigLocation 参数给出-->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>

    </filter>

    <!--然后定义过滤器如何过滤，filter-name用于映射mapping和filter-->
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- web 容器配置-->
    <!--Session 配置 3 小时后失效-->
    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>

    <!--全局错误页面配置-->
    <!--注意: location 必须从 /WEB-INF 开始配置路径-->
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/content/errorPages/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/content/errorPages/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/content/errorPages/500.jsp</location>
    </error-page><error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/content/errorPages/</location>
</error-page>

</web-app>