body {
    margin: 0px;
    background: #F6F7A7;
}

.mao_box {
    position: relative;
    top: 25px;
    /*width:424px;*/
}

.mao {
    margin: 0 auto;
    width: 400px;
}

.mao_head {
    margin: 0 auto;
    width: 300px;
    height: 255px;
    background: #F6F7F2;
    position: relative;
    border-radius: 50% 50% 35% 35%;
    border: solid 2px #2e2e2e;
    overflow: hidden;
    z-index: 10;
}

.huawen {
    position: absolute;
    height: 120px;
    width: 135px;
    background: #8D8D8D;
    left: 82.5px;
    border-radius: 0% 0% 50% 50%;
    overflow: hidden;
}

    .huawen > div:first-child {
        height: 120px;
        width: 67.5px;
        background: #F0AC6B;
    }

/*è€³æœµ*/
.erduo {
    width: 280.5px;
    height: 90px;
    position: absolute;
    top: -4.5px;
    left: 50%;
    margin-left: -140.25px;
    border-radius: 0% 0% 0% 0%;
}
    /*å·¦è€³*/
    .erduo > div:first-child {
        height: 150px;
        width: 120px;
        border: 2px solid #2e2e2e;
        background: #f3f3f3;
        transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        border-radius: 4% 80% 0% 50%;
        position: absolute;
        left: -15px;
        top: 0px;
        transition: transform 1s,left 1s;
    }
    /*å³è€³*/
    .erduo > div:last-child {
        height: 135px;
        width: 120px;
        border: 2px solid #2e2e2e;
        background: #f3f3f3;
        transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        border-radius: 80% 4% 50% 0%;
        position: absolute;
        right: -15px;
        top: 0px;
          transition: transform 1s,right 1s;
    }
/*é¼ æ ‡æµ®åŠ¨è€³æœµæ ·å¼*/
/*å·¦è€³*/
.mao:hover .erduo > div:first-child {
    left: -7.5px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    border-radius: 4% 80% 0% 60%;
    /*transition: all 1s;*/
     /*transition: transform 1s,left 1s;*/
}

.mao:hover .erduo > div:last-child {
    right: -7.5px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    border-radius: 80% 4% 60% 0%;
    /*transition: transform 1s,right 1s;*/
}
/*çœ¼ç›*/
.yanjing {
    height: 45px;
    width: 225px;
    position: absolute;
    top: 150px;
    z-index: 20;
    left: 50%;
    margin-left: -112.5px;
    overflow: hidden;
}
/*å·¦çœ¼*/
.yanquan {
    height: 75px;
    width: 75px;
    border: 2px solid #2e2e2e;
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    position: absolute;
}
    /*çœ¼ç å­ å·¦*/
    .yanquan > div:first-child {
        height: 75px;
        width: 22.5px;
        background-color: #2e2e2e;
        margin-left: 26.25px;
        transition:all 1s;
          /*transition-property: width;
       transition-duration: 2s;*/
    }
.mao:hover .yanquan > div:first-child {
  width:30px;
    margin-left: 22.5px;
    /*transition:all 1s;*/
  
}
.yanquan_hedding {
    height: 75px;
    width: 135px;
    border-top: 2px solid #2e2e2e;
    border-radius: 50% 50% 50% 50%;
    background: #F6F7F2;
    margin-top: 37.5px;
    margin-left: -30px;
    position: absolute;
     transition: margin-top 1s;
}

.hong {
    position: absolute;
    height: 21px;
    width: 52.5px;
    background: red;
    top: 25.5px;
    /*top: 64px;*/
    left: 13.5px;
    border-radius: 50% 50% 50% 50%;
    background-image: -moz-radial-gradient( 50% 50%, rgba(253,214,240,0.8) 0%, rgba(253,224,244,0.8) 66%, rgba(253,234,247,0.8) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, rgba(253,214,240,0.8) 0%, rgba(253,224,244,0.8) 66%, rgba(253,234,247,0.8) 100%);
    background-image: -ms-radial-gradient( 50% 50%, rgba(253,214,240,0.8) 0%, rgba(253,224,244,0.8) 66%, rgba(253,234,247,0.8) 100%);
    opacity: 0.0;
    /*transition: opacity 0.5s ease-in 0.2s;*/
}

.yan_right {
    left: 147px;
    top: 0px;
    background: red;
    position: absolute;
}
/*çœ¼ç›æµ®åŠ¨å±žæ€§*/
.mao:hover .yanquan_hedding {
    margin-top: 22.5px;
    /*transition: margin-top 1s;*/
}

.mao:hover .hong {
    /*top: 34px;*/
    opacity: 0.8;
    transition: opacity 0.5s ease-in 0.2s;
}

/*è„¸éƒ¨èŠ±çº¹*/
/*å·¦è¾¹èŠ±çº¹*/
.face_huawen {
    height: 60px;
    width: 285px;
    position: absolute;
    top: 150px;
    z-index: 20;
    left: 50%;
    margin-left: -145px;
}

.face_huawen_huawen > div:first-child {
    width: 22.5px;
    height: 7.5px;
    border-top: 4.5px #E53941 solid;
    border-radius: 30% 80% 20% 50%;
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    margin-left: 15px;
}

.face_huawen_huawen > div:nth-child(2) {
    width: 15px;
    height: 4.5px;
    background-color: #E53941;
    border-radius: 50% 50% 50% 50%;
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    margin-left: 15px;
}

.face_huawen_huawen > div:nth-child(3) {
    /*margin-top:10px;*/
    width: 24px;
    height: 7.5px;
    border-bottom: 3px #E53941 solid;
    border-radius: 30% 0% 90% 30%;
    transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    margin-left: 6px;
}

.face_huawen_huawen > div:nth-child(4) {
    margin-top: 15px;
    width: 20px;
    height: 15px;
    border-bottom: 3px #E53941 solid;
    border-radius: 30% 0% 90% 30%;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    margin-left: 20px;
}

.face_huawen_huawen > div:last-child {
    width: 16.5px;
    height: 7.5px;
    border-bottom: 3px #E53941 solid;
    border-radius: 0% 0% 50% 50%;
    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    margin-left: 30px;
    margin-top: -6px;
}
/*å³è¾¹èŠ±çº¹*/
.huawen_right {
    float: right;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari å’Œ Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
    margin-top: -50px;
}
/*é¼»å­*/
.bizi {
    width: 30px;
    height: 27px;
    position: absolute;
    left: 50%;
    margin-left: -11.25px;
    top: 195px;
    z-index: 30;
}

    .bizi > div:first-child {
        width: 22.5px;
        height: 7.5px;
        border-bottom: 6px solid #2e2e2e;
        border-radius: 0% 0% 50% 50%;
        margin-top: -7.5px;
    }

.zuiba_box {
    width: 150px;
    height: 27px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    margin-left: -75px;
    top: 195px;
    z-index: 30;
}

.zuiba {
    margin-left: 63.75px;
    margin-top: 4.5px;
}

    .zuiba > div:first-child {
        width: 3px;
        height: 6px;
        background: #2e2e2e;
        margin-left: 9.75px;
    }
    /*å³åŠè¾¹å˜´å·´*/
    .zuiba > div:nth-child(2) {
        width: 37.5px;
        height: 30px;
        border-bottom: 4px solid #2e2e2e;
        border-left: 4px solid #2e2e2e;
        border-radius:40% 0% 20% 50%;
        margin-left: 9.75px;
        margin-top: -19.5px;
        position:absolute;
            transition:  border-radius  1s;
    }
    /*å·¦åŠè¾¹å˜´å·´*/
    .zuiba > div:nth-child(3) {
        width: 37.5px;
        height: 30px;
        border-bottom: 4px solid #2e2e2e;
        border-right: 4px solid #2e2e2e;
        border-radius:0% 40% 50% 20%;
        margin-left: -28.5px;
        margin-top: -19.5px;
        position:absolute;
            transition:  border-radius  1s;
       
    }

.mao:hover .zuiba > div:nth-child(2) {
    border-radius: 50% 50% 50% 50%;
          width: 30px;
           /*transition:  border-radius  1s ;*/
}
.mao:hover .zuiba > div:nth-child(3) {
   
         width: 30px;
          margin-left: -22.5px;
          border-radius: 50% 50% 50% 50%;
          /*transition:  border-radius  1s;*/
}
.ceshi {
    width: 19.5px;
    height: 19.5px;
    -webkit-border-radius: 50% 50% 50% 0;
    -moz-border-radius: 50% 50% 50% 0;
    -o-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 1px 4px 7px;
    border: 2px solid;
}
